 <p>&nbsp;<br>
  <%= form_tag set_districts_path, :method => 'post', :class => "pure-form pure-form-stacked" do %>
    <label for="street" style="color:white;float:right;">Street</label>
    <%= text_field_tag "address", nil, placeholder: "Street Address", autofocus: true %>
    <label for="city" style="color:white;float:right;">City</label>
    <%= text_field_tag "city", nil, placeholder: "City" %>
    <label for="state" style="color:white;float:right;">State</label>
    <%= text_field_tag "state", nil, :size => 2, :maxlength => 2, placeholder: "State" %>
    <%= submit_tag "Go", :class => "pure-button pure-button-primary" %>
  <% end %>

<div id="latlng">
  <p><button onclick="geoLocate()">Find my location</button>
  &nbsp;
</div>
   <a class="openmodalbox" href="javascript:void(0);">
      <span class="icon-stack">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-question"></i>
      </span>
      <span class="modalboxContent">
        <h3>Detect Location</h3>
        With your permission, we can auto-detect location for you.<br>
        Your location data will not be recorded by the site in any way.
      </span>
    </a>
