<p>&nbsp;<br>
<p>Log in with: 
<a style="text-decoration:none;" href="/auth/twitter">
<span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-twitter"></i>
</span>
</a>
<a style="text-decoration:none;" href="/auth/facebook">
<span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-facebook"></i>
</span>
</a><br>Or register using an email address:
   <%= form_for @user, :url => (@user.new_record? ? users_path : user_path(@user)), html: {class: "pure-form pure-form-stacked"} do |f| %>
     <label for="email" style="color:white;float:right;">Email</label>
     <%= f.text_field :email, placeholder: "Email", autofocus: true %>
     <label for="password" style="color:white;float:right;">Password</label>
     <%= f.password_field :password, placeholder: "Password" %>
     <label for="password_confirmation" style="color:white;float:right;">Password Confirmation</label>
     <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
     <%= f.submit "Register", class: "pure-button pure-button-primary" %>
   <% end %>
      <a class="openmodalbox" href="javascript:void(0);">
        <span class="icon-stack">
          <i class="icon-circle-blank icon-stack-base"></i>
          <i class="icon-question"></i>
        </span>
        <span class="modalboxContent">
          <h3>Zipcode Search</h3>
          Enter your zipcode and find your local representative.<br>
          We respect privacy (link_to privacy_path).
        </span>
      </a>
