<p>&nbsp;<br>
  <%= link_to "#", class: "start-register-tour" do %>
    <span class="icon-stack">
      <i class="icon-circle-blank icon-stack-base"></i>
      <i class="icon-question"></i>
    </span>
  <% end %>
</p>
<p>Login with:
  <%= render partial: "partials/social_media" %>
  <br>Or register your email with us:
   <%= form_for @user, :url => (@user.new_record? ? users_path : user_path(@user)), html: {class: "pure-form pure-form-stacked"} do |f| %>
     <%= f.label :email, "Email" %>
     <%= f.text_field :email, placeholder: "Email", class: "step1", autofocus: true %>
     <%= f.label :password, "Password" %>
     <%= f.password_field :password, placeholder: "Password" %>
     <%= f.label :password_confirmation, "Confirm Password" %>
     <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
     <%= f.submit "Register", class: "pure-button pure-button-primary" %>
   <% end %>
</p>
