<p>&nbsp;<br>
<p>Log in with: 
<a style="text-decoration:none;" href="/auth/twitter">
<span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-twitter"></i>
</span>
</a>
<a style="text-decoration:none;" href="/auth/facebook">
<span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-facebook"></i>
</span>
</a><br>Or using an email address:
<% if @error %>
  <p><%= @error %></p>
<% end %>

<%= form_for :user, html: {class: "pure-form pure-form-stacked"} do |f| %>
  <%= f.text_field :email, placeholder: "Email", autofocus: true %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Login", class: "pure-button pure-button-primary" %>
<% end %>

