 <p>&nbsp;<br>
    <% if @error %>
      <p><%= @error %></p>
    <% end %>
    
      <%= form_for :user, html: {class: "pure-form pure-form-stacked"} do |f| %>
      <%= f.text_field :email, placeholder: "Email", autofocus: true %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.submit "Login", class: "pure-button pure-button-primary" %>
    <% end %>
      <a class="openmodalbox" href="javascript:void(0);">
        <span class="icon-stack">
          <i class="icon-circle-blank icon-stack-base"></i>
          <i class="icon-question"></i>
        </span>
        <span class="modalboxContent">
          <h3>Zipcode Search</h3>
          Enter your zipcode and find your local representative.<br>
          We respect privacy (link_to privacy_path).
        </span>
      </a>
