  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <p>&nbsp;<br>
    <a href="#" class="start-profile-tour">
      <span class="icon-stack">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-question"></i>
      </span>
    </a>
    <% @account = Account.find_by_user_id(session[:user_id]) %>
      <% if @account %>
      <p>Synchronize account number <%= @account.id %>:<br>
      <p>Account Provider: <%= @account.provider %>
      <p>Account UID: <%= @account.uid %>
      <p>Account Username: <%= @account.username %>
      <% end %>
    <p>
    <a style="text-decoration:none;" href="/auth/twitter">
    <span class="icon-stack">
      <i class="icon-check-empty icon-stack-base"></i>
      <i class="icon-twitter"></i>
    </span>
    </a>
    <a style="text-decoration:none;" href="/auth/facebook">
    <span class="icon-stack">
      <i class="icon-check-empty icon-stack-base"></i>
      <i class="icon-facebook"></i>
    </span>
    <a>
    <p>User: <%= @user.id %>
    <p>User Email: <%= @user.email %>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
