  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <p>&nbsp;<br>
    <%= link_to "#", class: "start-profile-tour" do %>
      <span class="icon-stack">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-question"></i>
      </span>
    <% end %>
      <p>Synchronize accounts here:<br>
    <%= link_to "/auth/twitter" do %>
      <span class="icon-stack">
        <i class="icon-check-empty icon-stack-base"></i>
        <i class="icon-twitter"></i>
      </span>
    <% end %>

    <%= link_to "/auth/facebook" do %>
      <span class="icon-stack">
        <i class="icon-check-empty icon-stack-base"></i>
        <i class="icon-facebook"></i>
      </span>
   <% end %>

    <p>Email: <%= @user.email %>
    <%= render partial: "partials/geotag" %>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
