  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <p>&nbsp;<br>
    <%= link_to "#", class: "start-profile-tour" do %>
      <span class="icon-stack">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-question"></i>
      </span>
    <% end %>
      <p>Synchronize accounts here:<br>
    <p>Email: <%= @user.email %>
    <%= render partial: "partials/geotag" %>

    <% @account = Account.find_by_user_id(session[:user_id]) %>
      <% if @account %>
      <p>Synchronize account number <%= @account.id %>:<br>
      <p>Account Provider: <%= @account.provider %>
      <p>Account UID: <%= @account.uid %>
      <p>Account Username: <%= @account.username %>
      <% end %>
    <p>
    <%= render partial: "partials/social_media" %>
    <p>User: <%= @user.id %>
    <p>User Email: <%= @user.email %>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
