    <ul class='bill-search'>
    <% @bills[0..5].each do |bill| %>
      <section class="bill">
      <h3><%= link_to bill["short_title"], bill_path(bill["bill_id"]) %></h3>
      <span class="number"><%= bill["chamber"].titleize + " Bill: " + bill["bill_id"] %></span>
      <li><%= bill["official_title"] %></li>
      <li class="summary"><%= bill["summary_short"] || "No summary available" %></li>
      <%= link_to "OpenCongress", bill["urls"]["opencongress"], target: "_blank", class: "open-congress" %>
      <br/>
      <!-- all available fields, note that on some of these fields may be blank depending on the bill -->
      </section>
    <% end %>
    <ul>
