  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <h2>HearUs</h2>
    <p>&nbsp;<br>
    <%= render partial: "partials/issue_search" %>
    <ul>
    <% @bills[0..5].each do |bill| %>
      <li><%= link_to bill["short_title"], bill_path(bill["bill_id"]) %></li>
      <li><%= bill["chamber"].titleize + " Bill: " + bill["bill_id"] %></li>
      <li><%= "Purpose: " + bill["official_title"] %></li>
      <li><%= link_to "OpenCongress", bill["urls"]["opencongress"], target: "_blank" %></li>
      <li><%= bill["summary_short"] || "No summary available" %></li>
      <br/>
      <!-- all available fields, note that on some of these fields may be blank depending on the bill -->
    <% end %>
    <ul>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
