  <div class="pure-u-1-4">
    &nbsp;
  </div>
  <% if @errors %>
    <%= @errors.each do |error| %>
      <h3><%= error %></h3>
    <% end %>
  <% end %>
  <div class="pure-u-1-2">
    <p>&nbsp;<br>
    <a href="#" class="start-bill-tour">
      <span class="icon-stack">
        <i class="icon-circle-blank icon-stack-base"></i>
        <i class="icon-question"></i>
      </span>
    </a>
        <h4> <%= @bill["short_title"] %> </h4>
        <h5> <%= @bill["introduced_on"] %> </h5>
        <h5> <%= @bill["chamber"].capitalize %></h5>
        <h5> <%= link_to "Bill Sponsor",{:controller => "districts", :action => "show", :bioguide_id => @bill["sponsor_id"]} %> </h5>
        <ul>
          <li><%= link_to "Full Bill View", @bill["last_version"]["urls"]["pdf"] %></li>
          <li><%= link_to "OpenCongress", @bill["urls"]["opencongress"] %></li>
          <li><%= link_to "Govtrack", @bill["urls"]["govtrack"] %></li>
          <li><%= link_to "Congress.Gov", @bill["urls"]["congress"] %></li>
        </ul>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
    <ul>
      <% if current_user? %>
      <li>
        <%= form_for @vote do |f| %>
            <%= f.hidden_field :choice,  :value => "Yes" %>
            <%= f.hidden_field :bill_id, :value => @bill["bill_id"]%>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "YEA" %>
       <% end %>
      </li>
       <li>
        <%= form_for @vote do |f| %>
            <%= f.hidden_field :choice,  :value => "No Opinion" %>
            <%= f.hidden_field :bill_id, :value => @bill["bill_id"]%>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "No Opinion" %>
        <% end %>
      </li>
      <li>
        <%= form_for @vote do |f| %>
            <%= f.hidden_field :choice,  :value => "No" %>
            <%= f.hidden_field :bill_id, :value => @bill["bill_id"]%>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "NEA" %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
