  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <p>&nbsp;<br>
      <%= render partial: "partials/issue_search" %>
      <% @legislators.each do |leg| %>
        <ul>
          <li><%= legislator_title(leg) %></li>
          <li>Party: <%= party_text(leg) %></li>
          <li>Gender: <%= gender_text(leg) %></li>
          <li>Phone: <%= leg.phone %></li>
          <li><%= link_to "Website", leg.website %></li>
          <li><%= link_to "Email Form",leg.webform %></li>
          <li>Address: <%= leg.congress_office %></li>
          <li><%= link_to "Twitter", "https://twitter.com/" + leg.twitter_id %></li>
          <!-- <li><leg.bioguide_id></li> -->
          <li><%= link_to "Wiki",leg.congresspedia_url %></li>
          <li><%= link_to "Youtube", leg.youtube_url %></li>
          <li><%= link_to "Facebook", "https://www.facebook/" + leg.facebook_id %></li>
          <li>Born: <%= birthday(leg) %></li>
          <!-- also have access to state_id and district_id -->
        </ul>
      <% end %>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
