  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u- 1-2">
    <p>&nbsp;<br>
      <%= render partial: "partials/issue_search" %>
      <% @legislators.each do |leg| %>
        <ul>
          <li><%= legislator_title(leg) %></li>
          <li><%= leg.party %></li>
          <li><%= leg.gender %></li>
          <li><%= leg.phone %></li>
          <li><%= leg.website %></li>
          <li><%= leg.webform %></li>
          <li><%= leg.congress_office %></li>
          <li><%= leg.twitter_id %></li>
          <li><%= leg.bioguide_id %></li>
          <li><%= leg.congresspedia_url %></li>
          <li><%= leg.youtube_url %></li>
          <li><%= leg.facebook_id %></li>
          <li><%= birthday(leg) %></li>
          <!-- also have access to state_id and district_id -->
        </ul>
      <% end %>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
