  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <p>&nbsp;<br>
      <%= flash[:message] %>
      <%= render partial: "partials/issue_search" %>
      <% @legislators.each do |leg| %>
        <ul>
          <li><h4><%= legislator_title(leg) %></h4></li>
          <li>Party: <%= party_text(leg) %></li>
          <li>Gender: <%= gender_text(leg) %></li>
        <% if leg %><!-- leg conditional actually needed -->
          <li>Phone: <%= leg.phone %></li>
          <!-- they may not actually have a website -->
          <% if leg.website.length > 1 %>
            <li><%= link_to "Website", leg.website, target: "_blank" %></li>
          <% else %>
            <li>Website: n/a</li>
          <% end %>
          <li><%= link_to "Email Form", leg.webform, target: "_blank" %></li>
          <li>Address: <%= leg.congress_office %></li>
          <!-- verified sometimes they don't have Twitter -->
          <% if leg.twitter_id.length > 1 %>
            <li><%= link_to "Twitter Timeline", "https://twitter.com/" + leg.twitter_id[1..-1], target: "_blank" %></li>
              <%= form_tag create_tweet_path, class: "pure-form" do %>
              <%= text_area_tag "tweet", leg.twitter_id + " I live in your district and vote on bills with #HearUs", maxlength: 140, required: true, cols: 60, rows: 1 %>
              <%= submit_tag "Tweet", class: "pure-button pure-button-primary" %>
              <% end %>
          <% else %>
            <li>Twitter: n/a</li>
          <% end %>
          <!-- <li><leg.bioguide_id></li> -->
          <li><%= link_to "Wiki", leg.congresspedia_url, target: "_blank" %></li>
          <!-- verified sometimes they don't have YouTube -->
          <% if leg.youtube_url.length > 1 %>
            <li><%= link_to "YouTube", leg.youtube_url, target: "_blank" %></li>
          <% else %>
            <li>YouTube: n/a</li>
          <% end %>
          <!-- verified sometimes they don't have Facebook -->
          <% if leg.facebook_id.length > 1 %>
            <li><%= link_to "Facebook", "https://www.facebook.com/" + leg.facebook_id, target: "_blank" %></li>
          <% else %>
            <li>Facebook: n/a</li>
          <% end %>
          <li>Born: <%= birthday(leg) %></li>
          <!-- also have access to state_id and district_id -->
        <% end %> <!-- end of leg conditional -->
        </ul>
      <% end %>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
