  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['Votes', 'Yes %', 'No %', 'N/A %'],
      <% if @bill %>
        [1, <%= @bill.percent_yes[0..-2].to_f %>, <%= @bill.percent_no[0..-2].to_f %>, <%= @bill.percent_no_opinion[0..-2].to_f %>]
      <% end %>
      ]);

  var options = {
    title: '#HearUs',
    vAxis: {title: 'Bill',  titleTextStyle: {color: 'red'}}
  };

  var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}
  </script>

  <div class="pure-u-1-4">
    &nbsp;
  </div>

  <div class="pure-u-1-2">
    <p class="d3-chart">&nbsp;<br>
      <h4>Bill: <%= link_to view_bill(@bill.id)["short_title"], bill_path(@bill.id) %></h4>
      <div id='chart_div'></div>
    <ul>
      <h3> Breakdown: </h3>
      <li>Yes Votes: <%= @bill.yes.count %></li>
      <li>No Votes: <%= @bill.no.count %></li>
      <li>No Opinion: <%= @bill.no_opinion.count %></li>
    </ul>
      <%= flash[:message] %>
      <% if @twitter_client %>
        <%= form_tag create_tweet_path, class: "pure-form-stacked" do %>
        <%= label_tag "tweet", "Tweet" %>
        <%= text_area_tag "tweet", "I voted " + @vote.choice + " on a bill with #HearUs http://localhost:3000/votes/" + @vote.id.to_s, maxlength: 140, required: true, rows: 4 %>
        <%= hidden_field_tag "vote_id", @vote.id %>
        <%= submit_tag "Tweet", class: "pure-button pure-button-primary", disabled: (@vote.tweeted == 1) %>
        <% end %>
      <% end %>
  </div>

  <div class="pure-u-1-4">
    &nbsp;
  </div>
