<!DOCTYPE html>
<html>
<head>
  <title>Hearus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style="margin-bottom:80px;" class="l-content">

    <%= yield %>

  </div> <!-- end l-content -->

  <div class="footer">
    <p class="l-box">
      <%= link_to "Home", root_path %>
      <% if !@user %>
        <%= link_to "Login", login_path %>
        <%= link_to "Register", user_path %>
      <% elsif @user.email %>
        <%= link_to "Profile", users_path %>
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Login", login_path %>
        <%= link_to "Register", user_path %>
      <% end %>
    </p>
  </div>

</body>
</html>
